<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Montando seu lanche </title>

    <!-- VUE -->
    <script src="./vue.js"> </script>

    <!-- Boostrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>

<body>

    <nav class="navbar navbar-dark bg-dark">
        <div class="container justify-content-center">
            <span class="navbar-brand mb-0 h1"> Monte o seu lanche </span>
        </div>
    </nav>


    <div class="container">

        <div id="app">
            <div class="row">

                <div class="col-md-6"> <!-- seção img -->
                    <div class="row mt-2">
                        <div class="col"> <!-- propriedade computada -->
                            <img :src="pao[0]">
                            <img :src="alface">
                            <img :src="ketchup">
                            <img :src="mostarda">
                            <img :src="maionese">
                            <img :src="hamburguer">
                            <img :src="pao[1]">
                            <img src="">
                        </div>
                    </div>
                </div> <!-- FIM seção img -->

                <div class="col-md-6" v-if="etapa == 1">
                    <!-- tipo de pão -->

                    <div class="row mt-2">
                        <div class="col">
                            <div class="card">
                                <div class="card-header">
                                    Tipo de pão
                                </div>

                                <div class="card-body">

                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" value="gergelim"
                                            v-model="inputTipoPao">

                                        <label class="form-check-label"> Gergelim </label>

                                    </div>

                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" value="australiano"
                                            v-model="inputTipoPao">

                                        <label class="form-check-label"> Australiano </label>

                                    </div>



                                </div>
                            </div> <!-- fim card  -->
                        </div>
                    </div>
                    <!-- FIM tipo de pão -->

                    <!-- SALADA -->
                    <div class="row mt-2">
                        <div class="col">
                            <div class="card">
                                <div class="card-header">
                                    Salada
                                </div>

                                <div class="card-body">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="alface"
                                            v-model="inputSalada">
                                        <label class="form-check-label">Alface</label>
                                    </div>
                                </div>


                            </div>
                        </div>
                    </div> <!-- FIM salada  -->

                    <!-- MOLHOS -->
                    <div class="row mt-6">
                        <div class="col">
                            <div class="card">
                                <div class="card-header"> Molhos </div>
                                <div class="card-body">

                                    <div class="form-check-inline">
                                        <input type="checkbox" value="ketchup" v-model="inputMolhos">
                                        <label class="form-check-label">Ketchup</label>
                                    </div>
                                    <div class="form-check-inline">
                                        <input type="checkbox" value="mostarda" v-model="inputMolhos">
                                        <label class="form-check-label">Mostarda</label>
                                    </div>
                                    <div class="form-check-inline">
                                        <input type="checkbox" value="maionese" v-model="inputMolhos">
                                        <label class="form-check-label">Maionese</label>
                                    </div>



                                </div>

                            </div>
                        </div>
                    </div> <!-- FIM molhos -->

                    <!-- tipos hamburguer -->
                    <div class="row mt-6">
                        <div class="col">
                            <div class="card">
                                <div class="card-header"> Tipo de hambúrguer </div>
                                <div class="card-body">

                                    <div class="form-check form-check-inline">
                                        <input type="radio" value="bovino" v-model="inputHamburguer">
                                        <label>Bovino</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input type="radio" value="frango" v-model="inputHamburguer">
                                        <label>Frango</Frame></label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input type="radio" value="vegetal" v-model="inputHamburguer">
                                        <label>Vegetal </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> <!-- fim tipos de hambúrguer -->

                    <div class="row mt-2">
                        <div class="col d-flex justify-content-end">
                            <button type="button" class="btn btn-primary" @click="fazerPedido()"> Fazer pedido </button>

                        </div>
                    </div>

                </div> <!-- FIM col md -->

                <div class="col-md-6" v-if="etapa == 2">
                    <div class="row mt-2">

                        <div class="col">

                            <div class="card">

                                <div class="card-header"> Informe seus dados </div>

                                <div class="card-body">

                                    <div class="mb-3">
                                        <label class="form-label">Nome</label>
                                        <input type="text" class="form-control" v-model="inputNome">
                                    </div>

                                    <div class="mb-3">
                                        <label class="form-label">Endereço</label>
                                        <input type="text" class="form-control" v-model="inputEndereco">
                                    </div>
                                </div> <!-- fim card-body -->
                            </div> <!-- fim card -->
                        </div> <!-- fim col -->
                    </div> <!-- fim row mt-2 -->

                    <div class="row mt-2">
                        <div class="col d-flex justify-content-between">
                            <button type="button" class="btn btn-warning" @click="etapa -=1"> Voltar para o
                                lanche</button>
                            <button type="button" class="btn btn-success" @click="confirmarPedido">Confirmar</button>
                        </div>
                    </div>



                </div> <!-- fim col md-6 -->

                <div class="col md-6" v-if="etapa == 3">
                    <!-- pedido confirmado -->
                    <div class="row mt-2">
                        <div class="col">
                            <div class="card">
                                <div class="card-header">
                                    PEDIDO CONFIRMADO
                                </div>
                                <div class="card-body">
                                    <p>Agora é só aguardar 10 minutinhos!</p>
                                    <p>Vamos chamar você em breve.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- repetir pedido -->
                    <div class="row mt-2">
                        <div class="col d-flex justify-content-between">
                            <button type="button" class="btn btn-primary" @click="etapa = 1">Repetir Pedido</button>

                            <button type="button" class="btn btn-success" @click="novoPedido()">Novo Pedido</button>
                        </div>
                    </div>
                </div>

            </div> <!-- fim row -->
        </div> <!-- fim app -->
    </div>  <!-- fim container -->

    <!-- instancia VUE -->
    <script>
        const vm = new Vue({
            el: '#app',

            data: {  //atributos // propriedades 
                inputTipoPao: '',
                inputSalada: [],
                inputMolhos: [],
                inputHamburguer: '',
                etapa: 1,
                inputNome:'',
                inputEndereco:'',
                novoPedidoAssincrono: null
            },

            computed: {  // propriedades computadas // reativos 
                pao() {
                    switch (this.inputTipoPao) {
                        case 'gergelim':
                            return ['imagens/pao_gergelim_superior.png', 'imagens/pao_gergelim_inferior.png']
                        case 'australiano':
                            return ['imagens/pao_australiano_superior.png', 'imagens/pao_australiano_inferior.png']
                        default:
                            return ['imagens/padrao/pao_superior.png', 'imagens/padrao/pao_inferior.png']
                    }
                },
                alface() {
                    if (this.inputSalada.includes('alface')) {
                        return 'imagens/alface.png'
                    }
                    return 'imagens/padrao/alface.png'
                },
                ketchup() {
                    if (this.inputMolhos.includes('ketchup')) {
                        return 'imagens/ketchup.png'
                    }
                    return 'imagens/padrao/molho.png'
                },
                mostarda() {
                    if (this.inputMolhos.includes('mostarda')) {
                        return 'imagens/mostarda.png'
                    }
                    return 'imagens/padrao/molho.png'
                },
                maionese() {
                    if (this.inputMolhos.includes('maionese')) {
                        return 'imagens/maionese.png'
                    }
                    return 'imagens/padrao/molho.png'

                },
                hamburguer() {
                    switch (this.inputHamburguer) {
                        case 'bovino':
                            return 'imagens/bovino.png'
                        case 'frango':
                            return 'imagens/frango.png'
                        case 'vegetal':
                            return 'imagens/soja.png'
                        default:
                            return 'iamgens/padrao/hamburguer.png'
                    }
                },
            },
            methods: {
                fazerPedido() {
                    //se pão e carne definidos
                    if (this.inputTipoPao && this.inputHamburguer) {
                        this.etapa = 2 //avança p/ etapa fechar pedido
                    } else {
                        alert('Você precisa selecionar no minímo um pão e uma carne')
                    }
                },
                confirmarPedido () {
                    if(this.inputNome && this.inputEndereco) {
                        this.etapa = 3

                        this.novoPedidoAssincrono = setTimeout (() => this.novoPedido(), 5000)


                    } else {
                        alert ('Você precisa informar o seu nome e endereço')
                    } 

                },
                novoPedido () {
                    this.etapa = 1

                    this.inputTipoPao =''
                    this.inputSalada = []
                    this.inputMolhos = []
                    this.inputHamburguer = ''
                    this.inputNome = ''
                    this.inputEndereco = ''
                }
            },


        })

    </script>


</body>

</html>